.DS_Store
*.sublime-*
manifest/config.php
manifest/cache/*
manifest/logs/*
manifest/tmp/*
sql/
utilities/
workspace/uploads/images/*.jpg
workspace/uploads/images/*.jpeg
workspace/uploads/images/*.png
workspace/uploads/images/*.gif