// Import the fonts
@font-face {
  font-family: 'Nightwind';
  src: url('../fonts/nightwind.eot');
  src: url('../fonts/nightwind.eot?#iefix') format('embedded-opentype'),
       url('../fonts/nightwind.woff') format('woff'),
       url('../fonts/nightwind.ttf') format('truetype'),
       url('../fonts/nightwind.svg#Nightwind') format('svg');
  font-style: normal;
  font-weight: normal;
}

// Catchall baseclass
[class^="icon-"]:before {
  font-family: 'Nightwind';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-medium {
  font-size: 3.5em;
  line-height: 1;
}

// Individual icons
.icon-wind:before                         { content: "\e001"; }
.icon-sail-away:before                    { content: "\e002"; }
.icon-dunamis:before                      { content: "\e003"; }
.icon-oregon:before                       { content: "\e004"; }