// Bootstrap
// -------------------------------------------------

@import "../bootstrap/less/variables";
@import "../bootstrap/less/mixins";
@import "../bootstrap/less/normalize";
@import "../bootstrap/less/print";
@import "../bootstrap/less/scaffolding";
@import "../bootstrap/less/type";
@import "../bootstrap/less/code";
@import "../bootstrap/less/grid";
@import "../bootstrap/less/tables";
@import "../bootstrap/less/forms";
@import "../bootstrap/less/buttons";
@import "../bootstrap/less/component-animations";
@import "../bootstrap/less/glyphicons";
@import "../bootstrap/less/dropdowns";
@import "../bootstrap/less/button-groups";
@import "../bootstrap/less/input-groups";
@import "../bootstrap/less/navs";
@import "../bootstrap/less/navbar";
@import "../bootstrap/less/breadcrumbs";
@import "../bootstrap/less/pagination";
@import "../bootstrap/less/pager";
@import "../bootstrap/less/labels";
@import "../bootstrap/less/badges";
@import "../bootstrap/less/jumbotron";
@import "../bootstrap/less/thumbnails";
@import "../bootstrap/less/alerts";
@import "../bootstrap/less/progress-bars";
@import "../bootstrap/less/media";
@import "../bootstrap/less/list-group";
@import "../bootstrap/less/panels";
@import "../bootstrap/less/wells";
@import "../bootstrap/less/close";
@import "../bootstrap/less/modals";
@import "../bootstrap/less/tooltip";
@import "../bootstrap/less/popovers";
@import "../bootstrap/less/carousel";
@import "../bootstrap/less/utilities";
@import "../bootstrap/less/responsive-utilities";

// Custom Imports
// -------------------------------------------------

@import "icons";
@import "social";
@import "horizon";

// Bootstrap Overrides
// -------------------------------------------------

@font-size-base: 18px;
@screen-tablet: 991px;
@icon-font-path: "/workspace/assets/bootstrap/fonts/";
@font-family-serif: 'rooney-web', Georgia, Times, serif;
@font-family-sans-serif: 'futura-pt', Arial, Helvetica, sans-serif;
@font-family-monospace: 'Menlo', Monaco, Consolas, 'Courier New', monospace;
@font-family-brand: 'din-condensed-web', 'Din Condensed Bold', 'Din Alternate Bold', 'HelveticaNeue-Condensed', 'Helvetica Neue', Arial, Helvetica, sans-serif;
@border-radius-base: 0;
@navbar-height: 75px;

// Variables
// -------------------------------------------------

@color-white: #ffffff;
@color-black: #000000;
@color-night: #272D3D;
@brand-primary: #27A9E1;
@color-accent: @brand-primary;
@color-brand-dark: #2E2633;
@color-brand-neutral: #DCE9BE;
@color-brand-light: #EFFFCD;
@color-brand-pop: #99173C;
@base: 10px;

// Mixins
// -------------------------------------------------

.allcaps {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

.btn-bordered(@color-border: #555, @color-background: transparent, @color-text: @color-border) {
  background: @color-background;
  border: 3px solid @color-border;
  .box-shadow(none);
  color: @color-text;
  padding: 15px 30px;
  font-family: @font-family-sans-serif;

  &:hover {
    border-color: darken(@color-border, 15%);
    .box-shadow(none);
    color: darken(@color-border, 15%);
  }
}

// ResponsImage
// -------------------------------------------------

@media (-webkit-min-device-pixel-ratio: 2) {

  [data-responsimage] {
    font-family: 'pixel-ratio-2';
  }
}

// Global
// -------------------------------------------------

body {
  color: @text-color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

* {
  text-rendering: optimizeLegibility !important;
  -webkit-text-size-adjust: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @font-family-sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

p,
address,
ul,
ul li,
ol,
ol li, {
  font-family: @font-family-serif;
  font-size: @font-size-base;
  line-height: 1.7;
}


a {
  -webkit-transition: color 150ms ease-in-out, background 150ms ease-in-out, border-color 150ms ease-in-out;

  &:hover {
    color: darken(@link-color, 10%);
    text-decoration: none;
  }

}

.btn {
  font-family: @font-family-sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  .box-shadow(none);

  &.btn-large {
    .btn-bordered(@color-border: lighten(@brand-primary, 15%););
  }
}

.links {
  position: relative;
  top: 20px;

  a {
    border: 3px solid darken(@color-white, 30%);
    color: darken(@color-white, 30%);
    font-family: @font-family-sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
    padding: 15px 30px;
    text-transform: uppercase;

    @media (max-width: @screen-sm) {
      display: block;
      font-size: 13px;
      margin: 0 auto 15px auto;
      width: 75%;
    }

    &:hover {
      background: darken(@color-white, 30%);
      color: @color-white;
    }
  }

}

// Navbar
// -------------------------------------------------

.navbar {
  margin-bottom: 0;
  border: none !important;
}

// Navbar branding area
.navbar-brand {
  padding: 0;
  padding-left: 10px;
  position: relative;
  top: 17px;

  img {
    height: 40px;
  }
}

.navbar-nav > li > a {
  font-family: @font-family-sans-serif;
  text-transform: uppercase;
}

.navbar-nav > li > .dropdown-menu {
  margin-top: -1px;
  padding: 0;
}

.navbar-nav > li > .dropdown-menu > li > a {
  font-family: @font-family-sans-serif;
  text-transform: uppercase;
}

.navbar-nav .sub-drop {
  list-style: none;
  padding-left: 0;

  > li {
    padding-left: 30px;

    &:hover {
      background: #f5f5f5;
    }
  }

  > li > a {
    color: lighten(@color-black, 30%);
    font-size: 14px;
    text-transform: uppercase;
  }

  .active {
    background: lighten(@brand-primary, 35%);
  }
}

.navbar-collapse {
  max-height: none !important;
}

.navbar-collapse.in .dropdown-normal.open a {
  background: none;
}

.navbar-default {
  background: #fff;
  border-color: #fff;
}

// Main
// -------------------------------------------------

#main {
  background-position: 50% 75%;
  background-size: 100%;
  height: auto;
  position: relative;
  padding: 0;

  @media (max-width: @screen-lg) {
    background-size: 130%;
  }

  @media (max-width: @screen-md) {
    background-size: 130%;
  }

  @media (max-width: @screen-sm) {
    background-position: 75% 0;
    background-size: 180%;
  }

  @media (max-width: @screen-xs) {
    background-size: 200%;
  }

  .overlay {
    background-color: @color-night;
    height: 100%;
    .opacity(0.9);
    position: absolute;
    width: 100%;
  }

  blockquote {
    border: none;
    clear: both;
    display: block;
    padding: 75px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 65%;

    @media (max-width: @screen-sm) {
      padding: 30px 0;
      width: 90%;
    }

    h1 {
      margin-top: 0;
      color: @color-brand-pop;
    }

    p {
      margin-top: 15px;
      color: @color-white;
      font-size: 2.75rem;
      font-weight: bold;
      text-transform: none;

      @media (max-width: @screen-sm) {
        font-size: 1em;
        line-height: 1.6;
      }

      a {
        border: 3px solid @color-white;
        color: @color-white;
        font-family: @font-family-sans-serif;
        font-size: 20px;
        font-weight: bold;
        margin: 0 10px;
        padding: 15px 30px;
        text-transform: uppercase;


        @media (max-width: @screen-sm) {
          display: block;
          font-size: 17px;
          margin: 0 auto 15px auto;
          width: 75%;
        }

        &:hover {
          background: @color-white;
          color: lighten(@color-black, 20%);
        }

        &.btn-disabled {
          .opacity(0.5);

          &:hover {
            background: none;
            color: @color-white;
          }
        }
      }
    }

    hr {
      border-top: 1px solid @color-white;
      margin: 30px auto;
      .opacity(0.5);
      width: 50%;
    }

  }

  .nav-pills {

    &.pull-left {
      left: 20px;
      position: relative;
      top: 0px;

      li {

        a {
          color: lighten(@color-black, 20%);
          padding: 5px 20px 5px 10px;

          &:hover {
            color: @color-accent;
          }
        }

      }

    }

    &.pull-right {
      position: relative;
      right: 20px;
      top: 15px;
    }

    li {
      text-align: center;

      a {
        color: @color-white;
        line-height: 1.1em;
        padding: 15px 12px;

        &:hover {
          color: lighten(@color-black, 20%);
        }
      }
    }

    strong {
      display: block;
      font-family: @font-family-brand;
      font-size: 24px;
      font-weight: 400;
      letter-spacing: 0.04em;
      margin-bottom: 5px;
      text-transform: uppercase;
    }

    small {
      margin-top: 0;
    }

  }

} // #main

// Content
// -------------------------------------------------

#content {
  width: 60%;
  margin: 0 auto;
  padding: 40px 0;

  @media (max-width: @screen-lg) {
    width: 75%;
  }

  @media (max-width: @screen-sm) {
    width: 90%;
  }

  p,
  ul,
  ul li,
  ol,
  ol li,
  dt,
  dd {
    font-size: 2rem;
  }

  p {
    padding-bottom: 20px;

    a:hover {
      border-bottom: 2px solid lighten(@link-color, 40%);
    }
  }

  ul li,
  ol li {
    padding-bottom: 10px;
  }

  .alert p {
    padding-bottom: 0;
  }

  img {
    max-width: 100%;
    height: auto;
    padding: 15px;
    border: 1px solid #c7c7c7;

    &:hover {
      .box-shadow(0 0 2px #cecece);
    }
  }

} // #content

.page-content {
  margin-bottom: 50px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 30px;
  }
}

// Contact
// -------------------------------------------------

#contact {

  .form-horizontal {
    padding: 0;
  }

  label {
    text-transform: uppercase;
  }

  input,
  select,
  textarea {
    font-family: @font-family-serif;
  }

  input.btn {
    width: 50%;
    margin: 30px auto 0;
    font-family: @font-family-sans-serif;

    @media (max-width: @screen-md) {
      width: 100%;
    }
  }

  .help-block {
    font-family: @font-family-serif;
  }

}


// Horizons
// -------------------------------------------------

.page-bar {
  // call Horizon
  .horizon(@color-text: darken(@color-white, 30%); @color-background: darken(@color-white, 10%));

  // overrides
  clear: both;
  padding: 1.5em 1em 1em 1em;
}

.about-bar {
  // call Horizon
  .horizon(@color-text: lighten(@color-night, 20%); @color-background: lighten(@brand-primary, 35%));

  // overrides
  clear: both;

  .links {

    a {
      color: lighten(@color-accent, 10%);
      border-color: lighten(@color-accent, 10%);

      &:hover {
        background-color: @color-accent;
        border-color: @color-accent;
        color: @color-white;
      }
    }
  }

}

.blank-bar {

  // call Horizon
  .horizon(@color-text: #777; @color-background: @color-white);

  // overrides
  clear: both;

}

// Footer
// -------------------------------------------------

.footer {
  @color-footer: lighten(@brand-primary,5%);

  .horizon(@color-background: @color-footer);

  @media (max-width: @screen-sm) {
    padding-left: 0;
    padding-right: 0;
  }

  .social {
    ul {
      list-style: none;
      margin-top: 15px;
      padding-left: 0;

      li {
        display: inline;
        margin: 0 10px;
        list-style-type: none;
        font-size: 2em;
      }
    }
  }

  a {
    color: darken(@brand-primary, 15%);
    font-family: @font-family-sans-serif;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    &:hover {
      color: darken(@brand-primary, 30%);
    }
  }

  .icon-oregon {
    color: darken(@brand-primary, 1%);
  }
}